<div class="container-fluid m-4 dashboard position-relative">
    <h5>Dashboard</h5>
    <div class="toast rounded-0" id="warning">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-exclamation-circle"></i>Snackbar_Title</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-number-sm">
                <div class="card-body">
                    <h6 class="card-subtitle">Card subtitle</h6>
                    <p class="card-number">123.4 t/d</p>
                    <p><i class="fa fa-arrow"></i><span>13.8%</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="toast position-absolute rounded-0" id="myToast">
        <div class="toast-header">
            <strong class="mr-auto"><i class="fa fa-exclamation-circle"></i>Snackbar_Title</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
        </div>
        <div class="toast-body ml-4">
            It's been a long time since you visited us. We've something special for you.
        </div>
        <div class="toast-footer text-right">
            <button class="btn btn-primary rounded-0">Close</button>
        </div>
    </div>
</div>